name: Pipeline SAST e DAST

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  issues: write
  security-events: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clonar código
        uses: actions/checkout@v4
      - name: Mensagem
        run: echo "Iniciando pipeline de segurança."

  sast_basic:
    name: SAST - CodeQL
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Clonar código (fetch-depth 0)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Inicializar CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: javascript

      - name: Executar análise SAST
        uses: github/codeql-action/analyze@v3

  dast_basic:
    name: DAST - OWASP ZAP
    runs-on: ubuntu-latest
    needs: sast_basic

    steps:
      - name: Clonar código
        uses: actions/checkout@v4

      - name: Iniciar servidor de teste
        run: |
          nohup python3 -m http.server 8080 &
          sleep 8

      - name: Executar varredura DAST com ZAP
        uses: zaproxy/action-baseline@v0.12.0
        with:
          target: http://localhost:8080
          fail_action: false
          cmd_options: '-a -r zap-report.html'

      - name: Salvar relatório ZAP como artefato
        uses: actions/upload-artifact@v4
        with:
          name: zap-report
          path: zap-report.html
