name:  Atividade UNI 2

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clonar o código
        uses: actions/checkout@v4
      - name: Mensagem
        run: echo "Início do pipeline de segurança."

  sast_basic:
    name: SAST CodeQL Básico
    runs-on: ubuntu-latest
    needs: build
    permissions:
      security-events: write
      contents: read 

    steps:
      - name: Clonar o código (fetch-depth 0)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Inicializar CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: javascript 

      - name: Executar Análise SAST
        uses: github/codeql-action/analyze@v3

  dast_basic:
    name: DAST ZAP Básico
    runs-on: ubuntu-latest
    needs: build
    
    services:
      web:
        image: python:3.9-slim
        ports:
          - 8080:8080
        command: python -m http.server 8080
    
    steps:
      - name: Clonar o código
        uses: actions/checkout@v4
        
      - name: Aguardar servidor
        run: sleep 5

      - name: Executar Scan DAST ZAP (Validação Alta)
        uses: zaproxy/action-baseline@v0.12.0
        with:
          target: http://web:8080
          fail_action: true
          level: 'High'